<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/default :: head('MemberLogin')">
<meta charset="UTF-8">
<title>member</title>
</head>
<body>
	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- jumbo -->
	<div th:replace="/fragments/default :: body"></div>

	<!-- /member/memberJoin -->
	<!-- com.~member.MemberController.get.setJoin -->
	<h1>memberLoginPage</h1>
	<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>
</body>
</html>